
// color variables

$color-primary-terminalGreen: green;
$color-primary-terminalGreen: green;
$color-primary-terminalGreen: green;
$color-primary-terminalGreen: green;
$color-primary-terminalGreen: green;


//
