// variables
//TODO : refactoring and optimization!! Create partials and mixings also extensions
//TODO : 

$color-primary-cyberYellow: hsl(56, 96%, 48%);
$color-primary-cyberDullYellow: hsl(56, 76%, 64%);
$color-primary-cyberPurple: hsl(237, 49%, 51%);
$color-primary-cyberWhite: hsl(213, 23%, 92%);
$color-primary-cyberLightBlue: hsl(187, 97%, 49%) ;
$color-primary-cyberRed: hsl(346, 100%, 50%);


// general

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background: url(public/IMAGES/cyber_image.jpeg) $color-primary-cyberYellow;
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;


  .cyberpunk__button__container:last-child {
    margin-top: 4em;
  }

}

.cyberpunk__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 420px;
  height: 100px;
}

.cyberpunk__button {
  border: 0;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 700;
  width: inherit;
  height: inherit;
  color: $color-primary-cyberWhite;

  .cyberpunk__button__tag {
    position: absolute;
    bottom: -6%;
    right: 6%;
    background-color: $color-primary-cyberYellow;
    color: hsl(0, 3%, 16%);
    font-size: .75rem;
    padding: 1px 4px;
  }

  .cyberpunk__button-glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: $color-primary-cyberLightBlue;
    text-shadow: 2px 2px $color-primary-cyberYellow, -2px -2px $color-primary-cyberDullYellow;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 100% 100%, 94% 100%, 94% 89%, 83% 89%, 83% 100%, 9% 100%, 0 62%, 0 1%);

    //animation: punk 2s infinite;
  }

}

.cyberpunk__button:hover .cyberpunk__button-glitch {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.cyberpunk__button::before,
.cyberpunk__button::after {
  content: "";
  position: absolute;
  top: 0; // to make this clip path work use all four position properties. !important
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 94% 100%, 94% 82%, 83% 82%, 83% 100%, 9% 100%, 0 62%, 0 1%); 
  clip-path: polygon(100% 0, 100% 100%, 94% 100%, 94% 89%, 83% 89%, 83% 100%, 9% 100%, 0 62%, 0 1%);
  z-index: -1;
}

.cyberpunk__button::before {
  background: $color-primary-cyberLightBlue;
  transform: translate(5px, 0);
}

.cyberpunk__button::after {
  background: $color-primary-cyberRed;
}






